@use '../helpers' as *;

.page{
    &-front{
        .card{
            @include mobile{
                text-align: center;
                
                &:nth-child(2) ~ *{
                    display: none;
                }
            }
        }
    }
    &-no-front{
        .header{
            box-shadow: 0 0 1rem 0 var(--color-accent-40);
        }

        .footer{
            background-color: var(--color-gray-20);
        }
    }
}