@use '../helpers' as *;

.reviews-section{
    background-color: var(--color-blue);
    color: var(--color-white);

    .section__title{
        color: var(--color-white);
    }

    .swiper-pagination-fraction {
        bottom: 0;
    }
}